@import 'tailwindcss';

/* ------------------------------------------------------
*
*  ------------------------------------------------------ */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --ring: var(--color-blue-500);

    --background: #fff;
    --foreground: var(--color-zinc-800);

    --secondary: var(--color-zinc-500);

    --border: var(--color-zinc-200);
    --border-secondary: var(--color-zinc-300);

    --muted: var(--color-zinc-100);
    --muted-foreground: var(--color-zinc-600);

    --background-success: var(--color-green-500);
    --foreground-success: var(--color-green-50);
    --border-success: var(--color-green-600);

    --background-destructive: var(--color-red-500);
    --foreground-destructive: var(--color-red-50);
    --border-destructive: var(--color-red-600);

    --background-warning: var(--color-amber-500);
    --foreground-warning: var(--color-amber-50);
    --border-warning: var(--color-amber-600);
  }

  .dark {
    --background: var(--color-zinc-900);
    --foreground: #fff;

    --secondary: var(--color-zinc-400);

    --border: var(--color-zinc-700);
    --border-secondary: var(--color-zinc-600);

    --muted: var(--color-zinc-800);
    --muted-foreground: var(--color-zinc-400);

    --background-success: var(--color-green-500);
    --foreground-success: var(--color-green-50);
    --border-success: var(--color-green-600);

    --background-destructive: var(--color-red-500);
    --foreground-destructive: var(--color-red-50);
    --border-destructive: var(--color-red-600);

    --background-warning: var(--color-amber-500);
    --foreground-warning: var(--color-amber-50);
    --border-warning: var(--color-amber-600);
  }
}

@theme {
  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-ring: var(--ring);

  --color-secondary: var(--secondary);

  --color-border: var(--border);

  /* Border color when more contrast is needed */
  --color-border-secondary: var(--border-secondary);

  /* Alternative background color (e.g. for cards) */
  --color-muted: var(--muted);

  /* Used for text on Background "muted" */
  --color-muted-foreground: var(--muted-foreground);

  --color-background-success: var(--background-success);
  --color-foreground-success: var(--foreground-success);
  --color-border-success: var(--border-success);

  --color-background-destructive: var(--background-destructive);
  --color-foreground-destructive: var(--foreground-destructive);
  --color-border-destructive: var(--border-destructive);

  --color-background-warning: var(--background-warning);
  --color-foreground-warning: var(--foreground-warning);
  --color-border-warning: var(--border-warning);

  --color-accent-50: #eff6ff;
  --color-accent-100: #dbeafe;
  --color-accent-200: #bfdbfe;
  --color-accent-300: #93c5fd;
  --color-accent-400: #60a5fa;
  --color-accent-500: #3b82f6;
  --color-accent-600: #2563eb;
  --color-accent-700: #1d4ed8;
  --color-accent-800: #1e40af;
  --color-accent-900: #1e3a8a;
  --color-accent-950: #172554;
  --color-accent: #3b82f6;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}
